.k-grid tr td, .k-pivot-layout .k-grid tr td {
        border-bottom-width: 1px !important;
        border-style: solid !important;
        vertical-align: middle !important;
         text-align:left;
    }

    .k-button, .k-toolbar .k-button {
        /*line-height: 15px;*/
        padding: 0px 6px;
    }

    .k-grid .k-button {
        line-height: 0px !important;
        min-width: 0px !important;
        border-radius: 4px;
    }

    .k-grid {
        font-size: 12px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

        .k-grid td {
            line-height: 12px;
            vertical-align: middle;
            border-style: solid !important;
            border-width: 0 0 0 1px !important;
        }

        .k-grid th {
            font-size: 13px;
            font-weight: bold;
        }

    .k-link {
        padding: 0px 0px;
    }
    .k-view {
            background-image: url(../../images/KviewIcon.png) !important;
            background-repeat: no-repeat;
            background-position: left center;
            /*width: 25px;
            height: 28px;*/
        }
.kdelete {
    background: url('../images/kdelete_icon.png') !important;
    background-repeat: no-repeat;
    background-position: left center;
}

    .kdelete:hover {
        background: url('../images/kdeleteblue_icon.png') !important;
        background-repeat: no-repeat;
        background-position: left center;
    }


    .k-config {
            background-image: url(../../images/configuration.png) !important;
            background-repeat: no-repeat;
            background-position: left center;
            /*width: 25px;
            height: 28px;*/
        }
    .k-Conversation1 {
            background-image: url(../../images/conversation.png) !important;
            background-repeat: no-repeat;
            background-position: left center;
            /*width: 25px;
            height: 28px;*/
        }
    .k-grid-toolbar a {
        float: right;
    }
    .k-multiselect-wrap {
    /* enable scrollability */
    overflow: auto;
    /* control selected items' container - use height or min-height and/or max-height */
    max-height: 100px;
}

.k-multiselect-wrap .k-button {
    /* force each selected item on a new line, if required */
    clear: left;
}
.k-ActivateUser {
            background-image: url(../../images/act-user.png) !important;
            background-repeat: no-repeat;
            background-position: left center;
            /*width: 25px;
            height: 28px;*/
        }
        .k-RoleAssign {
            background-image: url(../../images/role-assg.png) !important;
            background-repeat: no-repeat;
            background-position: left center;
            /*width: 25px;
            height: 28px;*/
        }
        .ActionIconCopy {
    background: url('../images/copy.png') !important;
    background-repeat: no-repeat;
}

    .ActionIconCopy:hover {
        background: url('../images/copy.png') !important;
        background-repeat: no-repeat;
    }

.k-ActionIconChat {
    background-image: url(../../images/chat-icon.png) !important;
    background-repeat: no-repeat;
    background-position: left center;
    /*width: 25px;
            height: 28px;*/
}

